<!doctype html>
<html>
<head>
	<title>#sprawdzacze dashboard</title>
	<script>
		var secret = '{{secret}}';
	</script>
	<script src="/public/vendor/jQuery/dist/jquery.min.js"></script>
	<script src="/public/dashboard.js"></script>
</head>
<body>
{{{body}}}
</body>
</html>